<h3>Blog Posts</h3>
<ul id="articles">
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article) %><br/>
            Posted on <%= article.created_at.strftime("%B %d %Y")%>
        </li>
    <% end %>
</ul>
<%= link_to "View Tags", tags_path, class:"tags" %>
<% if logged_in? %>
<div id="act"><%= link_to "+ Create a New Article", new_article_path, class:"new_article" %>
</div><% end %>