<h1>Posts Tagged with <%= @tag.name %></h1>

<ul id="articles">
    <% @tag.articles.each do |article| %>
        <li id="title"><%= link_to article.title, article_path(article) %></li>
    <% end %>
</ul>  <div id="delete">  <%= link_to 'Delete Tag', tag_path(@tag),
                method: :delete,
                data: { confirm: 'Are you sure?' }%></div>

<br /><div id="act"><%= link_to '<< Back', articles_path %></div>