body {
background-color:#502C73;
font-family:Arial, Arial, Helvetica, sans-serif;
color:#35322f;
}
#container {
    margin: 0 auto;
    width:900px;
    margin-top:5%;
}
#content {
    background-color:white;
    border-radius:10px;
    padding:50px;
    box-shadow: 10px 10px #DCD670;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:48pt;
}
ul {
  list-style-type:none;
}
#articles a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:30pt;
    line-height:35pt;
    text-decoration:none !important;
    color:black;
}
a.new_article {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-align:center;
    color:darkslategray;
    text-decoration:none;
    display:block;
}
input {
    width: 100%;
    border-radius:5px;
    height:20px;
    border-style:solid 1px #ccc;
  }
textarea {
    width: 100%;
    border-radius:5px;
    height:400px;
  }
